<p-menubar id="menuSuperior" [model]="items" syleClass="custom-menubar align-center">
  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link" href="{{ item.url }}">
      <span><img src="{{ item.src }}" alt="{{ item.label }}" ></span>
      <span>{{ item.label }}</span>
      <!-- <i [class]="item.icon"></i> -->
    </a>
  </ng-template>
</p-menubar>


<div class="container p-4" id="now-playing">
  <div class="row">
    <div class="card flex justify-center">
      <textarea rows="5" cols="30" pTextarea [autoResize]="true">English</textarea>
    </div>
  </div>
  <div class="row">
    <div class="card flex justify-center">
      <textarea rows="5" cols="30" pTextarea [autoResize]="true">Spanish</textarea>
    </div>
  </div>
</div>
