<p-menubar id="menuSuperior" [model]="items" syleClass="custom-menubar align-center">
  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link" href="{{ item.url }}">
      <span><img src="{{ item.src }}" alt="{{ item.label }}"></span>
      <span>{{ item.label }}</span>
      <!-- <i [class]="item.icon"></i> -->
    </a>
  </ng-template>
</p-menubar>

<div class="row container" style="width: 100%;">
  <div class="row container" style="width: 100%; padding: 15px;">
    <div class="boxes" style="width: 50%; padding: 15px;">
      <textarea style="width: 100%;" rows="5" cols="30" pTextarea [autoResize]="true" [(ngModel)]="translate.input" (ngModelChange)="getTranslate()"></textarea>
    </div>
    <div class="boxes" style="width: 50%; padding: 15px;">
      <textarea style="width: 100%;" rows="5" cols="30" pTextarea [autoResize]="true" [(ngModel)]="translate.output" readonly></textarea>
    </div>
  </div>
</div>